.SearchResults {
  width: 90%;
  height: 65vh;
  background-color: #52515b;
  border-radius: 20px;
  margin: 20px auto;
  overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
  .SearchResults {
    height: 80vh;
    /* width: 50%; */
  }
}
