.ResultItem {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 20px;
  border-bottom: 1px solid #3a3a41;
}

.ResultItem .button > button {
  background-color: transparent;
  height: 40px;
  border: 3px solid #96bf48;
  border-radius: 10px;
  color: #96bf48;
  font-weight: bold;
  width: 80px;
  cursor: pointer;
}

.ResultItem .button > button:hover {
  background-color: #96bf48;
  color: white;
}
